#
# File: all.snippets
# Purpose: universal Ultisnips snippets
#

snippet ulo "Unicode Lozenge (◊)" w
◊
endsnippet
snippet u<- "Unicode Left Arrow (←)" w
←
endsnippet
snippet u-> "Unicode Right Arrow (→)" w
→
endsnippet
snippet u-v "Unicode Down Arrow (↓)" w
↓
endsnippet
snippet u-> "Unicode Up Arrow (↑)" w
↑
endsnippet

