# Begin cs.snippets

# Snippets for coding in C#

snippet cwl "Console.WriteLine"
Console.WriteLine (${1:output string})$0
endsnippet
snippet cwl" "Console.WriteLine"
Console.WriteLine ("${1:output string}")$0
endsnippet


