# Begin pollen.snippets

# Snippets for the pollen documentation language

snippet hdr         "header" b
#lang pollen

endsnippet
snippet def         "define" b
◊(define ${1:identifier} ${2:replacement})
$0
endsnippet


