#
# ps1.snippets
# Ultisnips snippet file for Windows Powershell

# Powershell notes
snippet ps      "PowerShell" w
PowerShell
endsnippet
snippet sn      "PSSnapin" w
PSSnapin
endsnippet
snippet ex      "extension"
extension
endsnippet
snippet Ex      "Extension" w
Extension
endsnippet
snippet mo      "module"
module
endsnippet
snippet Mo      "Module" w
Module
endsnippet
snippet ms      "Microsoft"
Microsoft
endsnippet

